n8n-workflows/07-get-invoices.json
{
  "name": "BARIN-ALP: Get Invoices",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "barin-alp/invoices",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-get-invoices",
      "name": "Webhook Get Invoices",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "barin-invoices-get"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Mvg9vxzp7LyYwNor0i8o8LvqYiF0ID4WD3Af58zkVTo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Invoices",
          "mode": "list",
          "cachedResultName": "Invoices"
        },
        "options": {}
      },
      "id": "sheets-read-invoices",
      "name": "Read Invoices",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [470, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nconst invoices = rows.map(row => {\n  // Parse items from JSON string\n  let items = [];\n  if (row.json.items) {\n    try {\n      items = JSON.parse(row.json.items);\n    } catch (e) {\n      items = [];\n    }\n  }\n  \n  return {\n    id: Number(row.json.id),\n    date: row.json.date || '',\n    supplier: row.json.supplier || '',\n    invoiceNumber: row.json.invoiceNumber || '',\n    total: Number(row.json.total) || 0,\n    description: row.json.description || '',\n    createdBy: Number(row.json.createdBy) || 0,\n    createdByName: row.json.createdByName || '',\n    objectId: row.json.objectId ? Number(row.json.objectId) : null,\n    objectName: row.json.objectName || null,\n    items: items\n  };\n});\n\nreturn [{ json: { data: invoices } }];"
      },
      "id": "code-format-invoices",
      "name": "Format Invoices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-invoices",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Webhook Get Invoices": {
      "main": [
        [
          {
            "node": "Read Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Invoices": {
      "main": [
        [
          {
            "node": "Format Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Invoices": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
