n8n-workflows/08-create-invoice.json
{
  "name": "BARIN-ALP: Create Invoice",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "barin-alp/invoices/create",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-create-invoice",
      "name": "Webhook Create",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "barin-invoices-create"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Mvg9vxzp7LyYwNor0i8o8LvqYiF0ID4WD3Af58zkVTo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Invoices",
          "mode": "list",
          "cachedResultName": "Invoices"
        },
        "options": {}
      },
      "id": "sheets-read-for-id",
      "name": "Read for Next ID",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [470, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const existingInvoices = $input.all();\nconst body = $('Webhook Create').first().json.body;\n\n// Calculate next ID\nlet maxId = 0;\nexistingInvoices.forEach(inv => {\n  const id = Number(inv.json.id);\n  if (id > maxId) maxId = id;\n});\nconst newId = maxId + 1;\n\n// Serialize items to JSON string for Google Sheets\nconst itemsJson = JSON.stringify(body.items || []);\n\nreturn [{\n  json: {\n    id: newId,\n    date: body.date,\n    supplier: body.supplier,\n    invoiceNumber: body.invoiceNumber,\n    total: body.total || 0,\n    description: body.description || '',\n    createdBy: body.createdBy,\n    createdByName: body.createdByName,\n    objectId: body.objectId || '',\n    objectName: body.objectName || '',\n    items: itemsJson\n  }\n}];"
      },
      "id": "code-prepare-invoice",
      "name": "Prepare Invoice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Mvg9vxzp7LyYwNor0i8o8LvqYiF0ID4WD3Af58zkVTo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Invoices",
          "mode": "list",
          "cachedResultName": "Invoices"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "date": "={{ $json.date }}",
            "supplier": "={{ $json.supplier }}",
            "invoiceNumber": "={{ $json.invoiceNumber }}",
            "total": "={{ $json.total }}",
            "description": "={{ $json.description }}",
            "createdBy": "={{ $json.createdBy }}",
            "createdByName": "={{ $json.createdByName }}",
            "objectId": "={{ $json.objectId }}",
            "objectName": "={{ $json.objectName }}",
            "items": "={{ $json.items }}"
          }
        },
        "options": {}
      },
      "id": "sheets-append-invoice",
      "name": "Append to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [910, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inv = $('Prepare Invoice').first().json;\nconst body = $('Webhook Create').first().json.body;\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      id: inv.id,\n      date: inv.date,\n      supplier: inv.supplier,\n      invoiceNumber: inv.invoiceNumber,\n      total: inv.total,\n      description: inv.description,\n      createdBy: inv.createdBy,\n      createdByName: inv.createdByName,\n      objectId: body.objectId || null,\n      objectName: body.objectName || null,\n      items: body.items || []\n    }\n  }\n}];"
      },
      "id": "code-format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-create",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1350, 300]
    }
  ],
  "connections": {
    "Webhook Create": {
      "main": [
        [
          {
            "node": "Read for Next ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read for Next ID": {
      "main": [
        [
          {
            "node": "Prepare Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Invoice": {
      "main": [
        [
          {
            "node": "Append to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Sheet": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
