n8n-workflows/16-get-dashboard-stats.json
{
  "name": "BARIN-ALP: Get Dashboard Stats",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "barin-alp/dashboard",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "barin-alp-dashboard"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Mvg9vxzp7LyYwNor0i8o8LvqYiF0ID4WD3Af58zkVTo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Transactions",
          "mode": "list"
        },
        "options": {}
      },
      "id": "get-transactions",
      "name": "Get Transactions",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [450, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Mvg9vxzp7LyYwNor0i8o8LvqYiF0ID4WD3Af58zkVTo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Invoices",
          "mode": "list"
        },
        "options": {}
      },
      "id": "get-invoices",
      "name": "Get Invoices",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [450, 350],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Mvg9vxzp7LyYwNor0i8o8LvqYiF0ID4WD3Af58zkVTo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "OBJECTS",
          "mode": "list"
        },
        "options": {}
      },
      "id": "get-objects",
      "name": "Get Objects",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [450, 500],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Mvg9vxzp7LyYwNor0i8o8LvqYiF0ID4WD3Af58zkVTo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Users",
          "mode": "list"
        },
        "options": {}
      },
      "id": "get-users",
      "name": "Get Users",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [450, 650],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [700, 350]
    },
    {
      "parameters": {
        "jsCode": "// Get all data from different sheets\nconst allItems = $input.all();\n\n// Since we merged all, we need to separate by source\n// Each input comes from different sheet, so let's use a workaround\n// We'll fetch from the original nodes\n\nconst transactions = $('Get Transactions').all().map(i => i.json);\nconst invoices = $('Get Invoices').all().map(i => i.json);\nconst objects = $('Get Objects').all().map(i => i.json);\nconst users = $('Get Users').all().map(i => i.json);\n\n// Calculate technician balances\nconst technicianBalances = {};\n\nusers.forEach(user => {\n  if (user.role === 'technician') {\n    technicianBalances[user.id] = {\n      userId: parseInt(user.id),\n      userName: user.name,\n      income: 0,\n      expense: 0,\n      balance: 0\n    };\n  }\n});\n\n// Process transactions\ntransactions.forEach(t => {\n  const userId = String(t.userId);\n  const amount = parseFloat(t.amount) || 0;\n  \n  if (technicianBalances[userId]) {\n    if (t.type === 'income') {\n      technicianBalances[userId].income += amount;\n    } else if (t.type === 'expense') {\n      technicianBalances[userId].expense += amount;\n    }\n  }\n});\n\n// Also count expenses from invoices (created by technicians)\ninvoices.forEach(inv => {\n  const userId = String(inv.createdBy);\n  const amount = parseFloat(inv.total) || 0;\n  \n  if (technicianBalances[userId]) {\n    technicianBalances[userId].expense += amount;\n  }\n});\n\n// Calculate final balances\nObject.values(technicianBalances).forEach(tb => {\n  tb.balance = tb.income - tb.expense;\n});\n\n// Calculate expenses by object\nconst expensesByObject = {};\nlet unassignedExpenses = 0;\n\ninvoices.forEach(inv => {\n  const amount = parseFloat(inv.total) || 0;\n  const objectId = inv.objectId;\n  const objectName = inv.objectName;\n  \n  if (objectId && objectName) {\n    if (!expensesByObject[objectId]) {\n      expensesByObject[objectId] = {\n        objectId: parseInt(objectId),\n        objectName: objectName,\n        totalExpenses: 0,\n        invoiceCount: 0\n      };\n    }\n    expensesByObject[objectId].totalExpenses += amount;\n    expensesByObject[objectId].invoiceCount += 1;\n  } else {\n    unassignedExpenses += amount;\n  }\n});\n\n// Total calculations\nconst totalIncome = transactions\n  .filter(t => t.type === 'income')\n  .reduce((sum, t) => sum + (parseFloat(t.amount) || 0), 0);\n\nconst totalExpenses = invoices\n  .reduce((sum, inv) => sum + (parseFloat(inv.total) || 0), 0);\n\nconst activeObjects = objects.filter(o => o.STATUS === 'active').length;\n\nconst dashboardStats = {\n  // Overview\n  totalIncome,\n  totalExpenses,\n  netBalance: totalIncome - totalExpenses,\n  unassignedExpenses,\n  \n  // Counts\n  totalObjects: objects.length,\n  activeObjects,\n  totalInvoices: invoices.length,\n  totalTransactions: transactions.length,\n  \n  // Detailed data\n  technicianBalances: Object.values(technicianBalances),\n  expensesByObject: Object.values(expensesByObject).sort((a, b) => b.totalExpenses - a.totalExpenses),\n  \n  // Recent transactions (last 10)\n  recentTransactions: transactions.slice(0, 10),\n  \n  // Recent invoices (last 10)\n  recentInvoices: invoices.slice(0, 10)\n};\n\nreturn [{ json: { success: true, data: dashboardStats } }];"
      },
      "id": "calculate-stats",
      "name": "Calculate Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 350]
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 350]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Get Transactions", "type": "main", "index": 0 },
          { "node": "Get Invoices", "type": "main", "index": 0 },
          { "node": "Get Objects", "type": "main", "index": 0 },
          { "node": "Get Users", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Transactions": {
      "main": [
        [{ "node": "Merge", "type": "main", "index": 0 }]
      ]
    },
    "Get Invoices": {
      "main": [
        [{ "node": "Merge", "type": "main", "index": 1 }]
      ]
    },
    "Get Objects": {
      "main": [
        [{ "node": "Merge", "type": "main", "index": 0 }]
      ]
    },
    "Get Users": {
      "main": [
        [{ "node": "Merge", "type": "main", "index": 1 }]
      ]
    },
    "Merge": {
      "main": [
        [{ "node": "Calculate Stats", "type": "main", "index": 0 }]
      ]
    },
    "Calculate Stats": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
