n8n-workflows/16-get-dashboard-stats.json
{
  "name": "BARIN-ALP: Get Dashboard Stats",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "barin-alp/dashboard",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "barin-alp-dashboard"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Mvg9vxzp7LyYwNor0i8o8LvqYiF0ID4WD3Af58zkVTo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Transactions",
          "mode": "list"
        },
        "options": {}
      },
      "id": "get-transactions",
      "name": "Get Transactions",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [450, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nreturn [{ json: { transactions: items } }];"
      },
      "id": "wrap-transactions",
      "name": "Wrap Transactions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Mvg9vxzp7LyYwNor0i8o8LvqYiF0ID4WD3Af58zkVTo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Invoices",
          "mode": "list"
        },
        "options": {}
      },
      "id": "get-invoices",
      "name": "Get Invoices",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [450, 350],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nreturn [{ json: { invoices: items } }];"
      },
      "id": "wrap-invoices",
      "name": "Wrap Invoices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 350]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Mvg9vxzp7LyYwNor0i8o8LvqYiF0ID4WD3Af58zkVTo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "OBJECTS",
          "mode": "list"
        },
        "options": {}
      },
      "id": "get-objects",
      "name": "Get Objects",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [450, 500],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nreturn [{ json: { objects: items } }];"
      },
      "id": "wrap-objects",
      "name": "Wrap Objects",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 500]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Mvg9vxzp7LyYwNor0i8o8LvqYiF0ID4WD3Af58zkVTo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Users",
          "mode": "list"
        },
        "options": {}
      },
      "id": "get-users",
      "name": "Get Users",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [450, 650],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nreturn [{ json: { users: items } }];"
      },
      "id": "wrap-users",
      "name": "Wrap Users",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 650]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge1",
      "name": "Merge 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [850, 275]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge2",
      "name": "Merge 2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [850, 575]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-final",
      "name": "Merge Final",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1050, 425]
    },
    {
      "parameters": {
        "jsCode": "// Get merged data - now everything is in one object\nconst data = $input.first().json;\n\nconst transactions = data.transactions || [];\nconst invoices = data.invoices || [];\nconst objects = data.objects || [];\nconst users = data.users || [];\n\n// Helper: Check if objectName is valid (not JSON)\nconst isValidObjectName = (name) => {\n  if (!name) return false;\n  const str = String(name).trim();\n  return str.length > 0 && !str.startsWith('[') && !str.startsWith('{');\n};\n\n// Helper: Get real objectName from OBJECTS sheet by objectId\nconst getObjectNameById = (objectId) => {\n  const obj = objects.find(o => String(o.ID) === String(objectId));\n  return obj ? obj.NAME : null;\n};\n\n// Calculate technician balances\nconst technicianBalances = {};\n\nusers.forEach(user => {\n  if (user.role === 'technician') {\n    technicianBalances[user.id] = {\n      userId: parseInt(user.id) || 0,\n      userName: user.name || 'Unknown',\n      income: 0,\n      expense: 0,\n      balance: 0\n    };\n  }\n});\n\n// Process transactions\ntransactions.forEach(t => {\n  const userId = String(t.userId);\n  const amount = parseFloat(t.amount) || 0;\n  \n  if (technicianBalances[userId]) {\n    if (t.type === 'income') {\n      technicianBalances[userId].income += amount;\n    } else if (t.type === 'expense') {\n      technicianBalances[userId].expense += amount;\n    }\n  }\n});\n\n// Also count expenses from invoices (created by technicians)\ninvoices.forEach(inv => {\n  const userId = String(inv.createdBy);\n  const amount = parseFloat(inv.total) || 0;\n  \n  if (technicianBalances[userId]) {\n    technicianBalances[userId].expense += amount;\n  }\n});\n\n// Calculate final balances\nObject.values(technicianBalances).forEach(tb => {\n  tb.balance = tb.income - tb.expense;\n});\n\n// Calculate expenses by object\nconst expensesByObject = {};\nlet unassignedExpenses = 0;\n\ninvoices.forEach(inv => {\n  const amount = parseFloat(inv.total) || 0;\n  const objectId = inv.objectId;\n  let objectName = inv.objectName;\n  \n  // Fix: If objectName is JSON (data corruption), try to get real name from OBJECTS\n  if (!isValidObjectName(objectName) && objectId) {\n    objectName = getObjectNameById(objectId);\n  }\n  \n  if (objectId && isValidObjectName(objectName)) {\n    const key = String(objectId);\n    if (!expensesByObject[key]) {\n      expensesByObject[key] = {\n        objectId: parseInt(objectId) || 0,\n        objectName: objectName,\n        totalExpenses: 0,\n        invoiceCount: 0\n      };\n    }\n    expensesByObject[key].totalExpenses += amount;\n    expensesByObject[key].invoiceCount += 1;\n  } else {\n    unassignedExpenses += amount;\n  }\n});\n\n// Total calculations\nconst totalIncome = transactions\n  .filter(t => t.type === 'income')\n  .reduce((sum, t) => sum + (parseFloat(t.amount) || 0), 0);\n\nconst totalExpenses = invoices\n  .reduce((sum, inv) => sum + (parseFloat(inv.total) || 0), 0);\n\nconst activeObjects = objects.filter(o => o.STATUS === 'active').length;\n\nconst dashboardStats = {\n  totalIncome,\n  totalExpenses,\n  netBalance: totalIncome - totalExpenses,\n  unassignedExpenses,\n  totalObjects: objects.length,\n  activeObjects,\n  totalInvoices: invoices.length,\n  totalTransactions: transactions.length,\n  technicianBalances: Object.values(technicianBalances),\n  expensesByObject: Object.values(expensesByObject).sort((a, b) => b.totalExpenses - a.totalExpenses),\n  recentTransactions: transactions.slice(0, 10),\n  recentInvoices: invoices.slice(0, 10)\n};\n\nreturn [{ json: { success: true, data: dashboardStats } }];"
      },
      "id": "calculate-stats",
      "name": "Calculate Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 425]
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1450, 425]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Get Transactions", "type": "main", "index": 0 },
          { "node": "Get Invoices", "type": "main", "index": 0 },
          { "node": "Get Objects", "type": "main", "index": 0 },
          { "node": "Get Users", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Transactions": {
      "main": [
        [{ "node": "Wrap Transactions", "type": "main", "index": 0 }]
      ]
    },
    "Get Invoices": {
      "main": [
        [{ "node": "Wrap Invoices", "type": "main", "index": 0 }]
      ]
    },
    "Get Objects": {
      "main": [
        [{ "node": "Wrap Objects", "type": "main", "index": 0 }]
      ]
    },
    "Get Users": {
      "main": [
        [{ "node": "Wrap Users", "type": "main", "index": 0 }]
      ]
    },
    "Wrap Transactions": {
      "main": [
        [{ "node": "Merge 1", "type": "main", "index": 0 }]
      ]
    },
    "Wrap Invoices": {
      "main": [
        [{ "node": "Merge 1", "type": "main", "index": 1 }]
      ]
    },
    "Wrap Objects": {
      "main": [
        [{ "node": "Merge 2", "type": "main", "index": 0 }]
      ]
    },
    "Wrap Users": {
      "main": [
        [{ "node": "Merge 2", "type": "main", "index": 1 }]
      ]
    },
    "Merge 1": {
      "main": [
        [{ "node": "Merge Final", "type": "main", "index": 0 }]
      ]
    },
    "Merge 2": {
      "main": [
        [{ "node": "Merge Final", "type": "main", "index": 1 }]
      ]
    },
    "Merge Final": {
      "main": [
        [{ "node": "Calculate Stats", "type": "main", "index": 0 }]
      ]
    },
    "Calculate Stats": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
