n8n-workflows/17-parse-bank-statement.json
{
  "name": "BARIN-ALP: Parse Bank Statement CSV",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "barin-alp/bank-statement",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "barin-alp-bank-statement"
    },
    {
      "parameters": {
        "jsCode": "// Get the CSV content (text)\nconst body = $input.item.json.body;\nconst csvContent = body.csv;\n\nif (!csvContent) {\n  return [{ json: { success: false, error: 'No CSV content provided' } }];\n}\n\n// Return the CSV text for parsing\nreturn [{ json: { csvContent } }];"
      },
      "id": "prepare",
      "name": "Prepare CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Asset Bank CSV format with categorization\n// Columns (separated by ;):\n// 0: Сметка/Карта (IBAN)\n// 1: Дата (DD.MM.YYYY)\n// 2: Дб/Кр\n// 3: Сума\n// 4: Валута\n// 5-6: BIC/IBAN на наредител\n// 7-8: Тип/Име на наредител\n// 9-10: BIC/IBAN на получател\n// 11-12: Тип/Име на получател\n// 13: Тип операция\n// 14-15: Основание 1/2\n// 17: Референция\n\nconst csvContent = $input.item.json.csvContent;\nconst lines = csvContent.split('\\n');\n\nconst transactions = [];\nconst processedRefs = new Set();\nlet bankFeesTotal = 0;\nlet loanPaymentsTotal = 0;\nlet cashWithdrawalTotal = 0;\n\n// Keywords for categorization\nconst bankFeeKeywords = ['автоматична такса', 'усвояване на кредит'];\nconst loanKeywords = ['издължаване на кредит'];\nconst cashWithdrawalKeywords = ['картови транзакции'];\nconst transferKeywords = ['издаден директен превод', 'получен директен превод'];\n\n// Skip header row\nfor (let i = 1; i < lines.length; i++) {\n  const line = lines[i].trim();\n  if (!line) continue;\n  \n  const cols = line.split(';');\n  if (cols.length < 14) continue;\n  \n  const iban = cols[0].trim();\n  const dateStr = cols[1].trim();\n  const typeRaw = cols[2].trim().toLowerCase();\n  const amountStr = cols[3].trim();\n  const currency = cols[4].trim();\n  const senderName = cols[8] ? cols[8].trim() : '';\n  const receiverName = cols[12] ? cols[12].trim() : '';\n  const operationType = cols[13] ? cols[13].trim().toLowerCase() : '';\n  const purpose1 = cols[14] ? cols[14].trim() : '';\n  const purpose2 = cols[15] ? cols[15].trim() : '';\n  const reference = cols[17] ? cols[17].trim() : '';\n  \n  // Combined text for searching keywords (operationType + purposes)\n  const searchText = (operationType + ' ' + purpose1 + ' ' + purpose2).toLowerCase();\n  \n  // Skip if not main IBAN\n  if (!iban.startsWith('BG')) continue;\n  \n  // Skip duplicates\n  if (reference && processedRefs.has(reference)) continue;\n  if (reference) processedRefs.add(reference);\n  \n  // Parse date\n  const dateParts = dateStr.split('.');\n  const isoDate = dateParts.length === 3 \n    ? `${dateParts[2]}-${dateParts[1]}-${dateParts[0]}`\n    : dateStr;\n  \n  // Parse amount\n  const cleanAmount = amountStr.replace(/\\s/g, '').replace(',', '.');\n  const amount = parseFloat(cleanAmount) || 0;\n  \n  // Determine debit/credit\n  const isDebit = typeRaw.includes('дебит') || typeRaw.includes('debit');\n  const type = isDebit ? 'debit' : 'credit';\n  \n  // Categorize transaction\n  let category = 'other';\n  let displayName = operationType || purpose1;\n  let counterpartyName = '';\n  let invoiceRef = '';\n  let isCompanyExpense = false;\n  \n  // Check for cash withdrawals (Картови транзакции) - search in all text fields\n  if (cashWithdrawalKeywords.some(kw => searchText.includes(kw))) {\n    category = 'cash_withdrawal';\n    displayName = 'Изтеглени пари в брой';\n    isCompanyExpense = false;\n    if (isDebit) cashWithdrawalTotal += amount;\n  }\n  // Check for bank fees\n  else if (bankFeeKeywords.some(kw => searchText.includes(kw))) {\n    category = 'bank_fees';\n    displayName = 'Банкови услуги';\n    isCompanyExpense = true;\n    if (isDebit) bankFeesTotal += amount;\n  }\n  // Check for loan payments\n  else if (loanKeywords.some(kw => searchText.includes(kw))) {\n    category = 'loan_payment';\n    displayName = 'Погасяване на кредит';\n    isCompanyExpense = true;\n    if (isDebit) loanPaymentsTotal += amount;\n  }\n  // Check for transfers\n  else if (transferKeywords.some(kw => searchText.includes(kw))) {\n    category = 'transfer';\n    counterpartyName = isDebit ? receiverName : senderName;\n    displayName = counterpartyName || operationType;\n    \n    // Try to extract invoice reference from purpose\n    const invoiceMatch = (purpose1 + ' ' + purpose2).match(/(?:фактура|ф-ра|invoice|inv)[\\s#:]*([\\d\\/]+)/i);\n    if (invoiceMatch) {\n      invoiceRef = invoiceMatch[1];\n    }\n  }\n  \n  transactions.push({\n    date: isoDate,\n    reference,\n    description: operationType || purpose1,\n    displayName,\n    type,\n    amount,\n    currency: currency || 'BGN',\n    iban,\n    category,\n    counterpartyName,\n    invoiceRef,\n    purpose: (purpose1 + ' ' + purpose2).trim(),\n    isCompanyExpense,\n    objectId: null,\n    objectName: null,\n    status: 'unmatched'\n  });\n}\n\n// Sort by date descending\ntransactions.sort((a, b) => b.date.localeCompare(a.date));\n\n// Calculate totals\nconst totalDebit = transactions.filter(t => t.type === 'debit').reduce((sum, t) => sum + t.amount, 0);\nconst totalCredit = transactions.filter(t => t.type === 'credit').reduce((sum, t) => sum + t.amount, 0);\nconst netChange = Math.round((totalCredit - totalDebit) * 100) / 100;\n\nreturn [{ \n  json: { \n    success: true, \n    data: {\n      transactions,\n      count: transactions.length,\n      totalDebit: Math.round(totalDebit * 100) / 100,\n      totalCredit: Math.round(totalCredit * 100) / 100,\n      bankFeesTotal: Math.round(bankFeesTotal * 100) / 100,\n      loanPaymentsTotal: Math.round(loanPaymentsTotal * 100) / 100,\n      cashWithdrawalTotal: Math.round(cashWithdrawalTotal * 100) / 100,\n      netChange\n    }\n  } \n}];"
      },
      "id": "parse",
      "name": "Parse Bank Transactions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Prepare CSV", "type": "main", "index": 0 }]
      ]
    },
    "Prepare CSV": {
      "main": [
        [{ "node": "Parse Bank Transactions", "type": "main", "index": 0 }]
      ]
    },
    "Parse Bank Transactions": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
