n8n-workflows/17-parse-bank-statement.json
{
  "name": "BARIN-ALP: Parse Bank Statement CSV",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "barin-alp/bank-statement",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "barin-alp-bank-statement"
    },
    {
      "parameters": {
        "jsCode": "// Get the CSV content (text)\nconst body = $input.item.json.body;\nconst csvContent = body.csv;\n\nif (!csvContent) {\n  return [{ json: { success: false, error: 'No CSV content provided' } }];\n}\n\n// Return the CSV text for parsing\nreturn [{ json: { csvContent } }];"
      },
      "id": "prepare",
      "name": "Prepare CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Asset Bank CSV format\n// Columns (separated by ;):\n// 0: Сметка/Карта (IBAN)\n// 1: Дата на транзакцията (DD.MM.YYYY)\n// 2: Дб/Кр (Дебит/Кредит)\n// 3: Сума\n// 4: Валута\n// 5-12: Bank details...\n// 13: Тип операция (Description)\n// etc.\n\nconst csvContent = $input.item.json.csvContent;\nconst lines = csvContent.split('\\n');\n\nconst transactions = [];\nconst processedRefs = new Set(); // Track unique transactions\n\n// Skip header row\nfor (let i = 1; i < lines.length; i++) {\n  const line = lines[i].trim();\n  if (!line) continue;\n  \n  const cols = line.split(';');\n  if (cols.length < 14) continue;\n  \n  const iban = cols[0].trim();\n  const dateStr = cols[1].trim();\n  const typeRaw = cols[2].trim().toLowerCase();\n  const amountStr = cols[3].trim();\n  const currency = cols[4].trim();\n  const description = cols[13].trim();\n  const reference = cols[17] ? cols[17].trim() : '';\n  \n  // Skip if not main account (IBAN) or if it's a card number starting with 5318\n  if (!iban.startsWith('BG')) continue;\n  \n  // Skip duplicates (same reference)\n  if (reference && processedRefs.has(reference)) continue;\n  if (reference) processedRefs.add(reference);\n  \n  // Parse date (DD.MM.YYYY -> YYYY-MM-DD)\n  const dateParts = dateStr.split('.');\n  const isoDate = dateParts.length === 3 \n    ? `${dateParts[2]}-${dateParts[1]}-${dateParts[0]}`\n    : dateStr;\n  \n  // Parse amount (remove spaces, handle comma as decimal)\n  const cleanAmount = amountStr.replace(/\\s/g, '').replace(',', '.');\n  const amount = parseFloat(cleanAmount) || 0;\n  \n  // Determine type: Дебит = debit (expense), Кредит = credit (income)\n  // Note: In Bulgarian bank statements, Дебит means money going OUT (expense)\n  // and Кредит means money coming IN (income)\n  const type = typeRaw.includes('дебит') || typeRaw.includes('debit') ? 'debit' : 'credit';\n  \n  transactions.push({\n    date: isoDate,\n    reference,\n    description,\n    type,\n    amount,\n    currency: currency || 'BGN',\n    iban,\n    status: 'unmatched'\n  });\n}\n\n// Sort by date descending\ntransactions.sort((a, b) => b.date.localeCompare(a.date));\n\n// Calculate totals\nconst totalDebit = transactions\n  .filter(t => t.type === 'debit')\n  .reduce((sum, t) => sum + t.amount, 0);\n  \nconst totalCredit = transactions\n  .filter(t => t.type === 'credit')\n  .reduce((sum, t) => sum + t.amount, 0);\n\nreturn [{ \n  json: { \n    success: true, \n    data: {\n      transactions,\n      count: transactions.length,\n      totalDebit: Math.round(totalDebit * 100) / 100,\n      totalCredit: Math.round(totalCredit * 100) / 100\n    }\n  } \n}];"
      },
      "id": "parse",
      "name": "Parse Bank Transactions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Prepare CSV", "type": "main", "index": 0 }]
      ]
    },
    "Prepare CSV": {
      "main": [
        [{ "node": "Parse Bank Transactions", "type": "main", "index": 0 }]
      ]
    },
    "Parse Bank Transactions": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
