n8n-workflows/18-save-bank-transactions.json
{
  "name": "BARIN-ALP: Save Bank Transactions",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "barin-alp/bank-transactions/save",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "barin-alp-bank-transactions-save"
    },
    {
      "parameters": {
        "jsCode": "// Get transactions from request body\nconst body = $input.item.json.body;\nconst transactions = body.transactions || [];\n\nif (!transactions.length) {\n  return [{ json: { success: false, error: 'No transactions provided' } }];\n}\n\n// Return transactions for processing\nreturn transactions.map(tx => ({ json: tx }));"
      },
      "id": "prepare",
      "name": "Prepare Transactions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Mvg9vxzp7LyYwNor0i8o8LvqYiF0ID4WD3Af58zkVTo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "BankTransactions",
          "mode": "list",
          "cachedResultName": "BankTransactions"
        },
        "options": {}
      },
      "id": "readExisting",
      "name": "Get Existing Transactions",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [650, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get existing transactions and new transactions\nconst existingItems = $('Get Existing Transactions').all();\nconst newItems = $('Prepare Transactions').all();\n\n// Create set of existing references for quick lookup\nconst existingRefs = new Set();\nlet maxId = 0;\n\nexistingItems.forEach(item => {\n  if (item.json.reference) {\n    existingRefs.add(item.json.reference);\n  }\n  const id = parseInt(item.json.id) || 0;\n  if (id > maxId) maxId = id;\n});\n\n// Filter out duplicates and assign IDs\nconst toInsert = [];\nconst duplicates = [];\nconst importDate = new Date().toISOString().split('T')[0];\n\nnewItems.forEach(item => {\n  const tx = item.json;\n  \n  if (tx.reference && existingRefs.has(tx.reference)) {\n    duplicates.push(tx.reference);\n  } else {\n    maxId++;\n    toInsert.push({\n      id: maxId,\n      reference: tx.reference || '',\n      date: tx.date || '',\n      type: tx.type || 'debit',\n      amount: tx.amount || 0,\n      currency: tx.currency || 'BGN',\n      category: tx.category || 'other',\n      description: tx.description || '',\n      displayName: tx.displayName || '',\n      counterpartyName: tx.counterpartyName || '',\n      invoiceRef: tx.invoiceRef || '',\n      purpose: tx.purpose || '',\n      objectId: tx.objectId || '',\n      objectName: tx.objectName || '',\n      isCompanyExpense: tx.isCompanyExpense ? 'TRUE' : 'FALSE',\n      status: tx.status || 'unmatched',\n      importDate: importDate\n    });\n  }\n});\n\n// Store results for response\n$execution.customData.set('insertCount', toInsert.length);\n$execution.customData.set('duplicateCount', duplicates.length);\n\nif (toInsert.length === 0) {\n  return [{ json: { skip: true, duplicateCount: duplicates.length } }];\n}\n\nreturn toInsert.map(tx => ({ json: tx }));"
      },
      "id": "filterDuplicates",
      "name": "Filter Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ifHasNew",
      "name": "Has New Transactions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Mvg9vxzp7LyYwNor0i8o8LvqYiF0ID4WD3Af58zkVTo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "BankTransactions",
          "mode": "list",
          "cachedResultName": "BankTransactions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "reference": "={{ $json.reference }}",
            "date": "={{ $json.date }}",
            "type": "={{ $json.type }}",
            "amount": "={{ $json.amount }}",
            "currency": "={{ $json.currency }}",
            "category": "={{ $json.category }}",
            "description": "={{ $json.description }}",
            "displayName": "={{ $json.displayName }}",
            "counterpartyName": "={{ $json.counterpartyName }}",
            "invoiceRef": "={{ $json.invoiceRef }}",
            "purpose": "={{ $json.purpose }}",
            "objectId": "={{ $json.objectId }}",
            "objectName": "={{ $json.objectName }}",
            "isCompanyExpense": "={{ $json.isCompanyExpense }}",
            "status": "={{ $json.status }}",
            "importDate": "={{ $json.importDate }}"
          }
        },
        "options": {}
      },
      "id": "appendRows",
      "name": "Append to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1250, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get counts from custom data\nconst insertCount = $execution.customData.get('insertCount') || 0;\nconst duplicateCount = $execution.customData.get('duplicateCount') || 0;\n\nreturn [{\n  json: {\n    success: true,\n    message: `Записани ${insertCount} транзакции. Пропуснати ${duplicateCount} дубликати.`,\n    insertedCount: insertCount,\n    duplicateCount: duplicateCount\n  }\n}];"
      },
      "id": "successResponse",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "jsCode": "// All were duplicates\nconst duplicateCount = $json.duplicateCount || 0;\n\nreturn [{\n  json: {\n    success: true,\n    message: `Всички ${duplicateCount} транзакции вече съществуват.`,\n    insertedCount: 0,\n    duplicateCount: duplicateCount\n  }\n}];"
      },
      "id": "skipResponse",
      "name": "Skip Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Prepare Transactions", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Transactions": {
      "main": [
        [{ "node": "Get Existing Transactions", "type": "main", "index": 0 }]
      ]
    },
    "Get Existing Transactions": {
      "main": [
        [{ "node": "Filter Duplicates", "type": "main", "index": 0 }]
      ]
    },
    "Filter Duplicates": {
      "main": [
        [{ "node": "Has New Transactions?", "type": "main", "index": 0 }]
      ]
    },
    "Has New Transactions?": {
      "main": [
        [{ "node": "Append to Sheet", "type": "main", "index": 0 }],
        [{ "node": "Skip Response", "type": "main", "index": 0 }]
      ]
    },
    "Append to Sheet": {
      "main": [
        [{ "node": "Success Response", "type": "main", "index": 0 }]
      ]
    },
    "Success Response": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    },
    "Skip Response": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
