n8n-workflows/18-save-bank-transactions.json
{
  "name": "BARIN-ALP: Save Bank Transactions",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "barin-alp/bank-transactions/save",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "barin-alp-bank-transactions-save"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Mvg9vxzp7LyYwNor0i8o8LvqYiF0ID4WD3Af58zkVTo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "BankTransactions",
          "mode": "list",
          "cachedResultName": "BankTransactions"
        },
        "options": {}
      },
      "id": "readExisting",
      "name": "Get Existing Transactions",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [450, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get existing transactions and new transactions from request\nconst existingItems = $input.all();\nconst body = $('Webhook').first().json.body;\nconst newTransactions = body.transactions || [];\n\nif (!newTransactions.length) {\n  return [{ json: { success: true, insertedCount: 0, duplicateCount: 0, message: 'No transactions provided' } }];\n}\n\n// Create set of existing references for quick lookup\nconst existingRefs = new Set();\nlet maxId = 0;\n\nexistingItems.forEach(item => {\n  if (item.json.reference) {\n    existingRefs.add(String(item.json.reference));\n  }\n  const id = parseInt(item.json.id) || 0;\n  if (id > maxId) maxId = id;\n});\n\n// Filter out duplicates and assign IDs\nconst toInsert = [];\nlet duplicateCount = 0;\nconst importDate = new Date().toISOString().split('T')[0];\n\nnewTransactions.forEach(tx => {\n  const ref = String(tx.reference || '');\n  \n  if (ref && existingRefs.has(ref)) {\n    duplicateCount++;\n  } else {\n    maxId++;\n    toInsert.push({\n      id: maxId,\n      reference: tx.reference || '',\n      date: tx.date || '',\n      type: tx.type || 'debit',\n      amount: tx.amount || 0,\n      currency: tx.currency || 'BGN',\n      category: tx.category || 'other',\n      description: tx.description || '',\n      displayName: tx.displayName || '',\n      counterpartyName: tx.counterpartyName || '',\n      invoiceRef: tx.invoiceRef || '',\n      purpose: tx.purpose || '',\n      objectId: tx.objectId || '',\n      objectName: tx.objectName || '',\n      isCompanyExpense: tx.isCompanyExpense ? 'TRUE' : 'FALSE',\n      status: tx.status || 'unmatched',\n      importDate: importDate\n    });\n    // Add to set to prevent duplicates within same batch\n    if (ref) existingRefs.add(ref);\n  }\n});\n\n// Store counts for response\nconst insertCount = toInsert.length;\n\nif (toInsert.length === 0) {\n  return [{ json: { \n    success: true, \n    skip: true,\n    insertedCount: 0, \n    duplicateCount: duplicateCount,\n    message: `Всички ${duplicateCount} транзакции вече съществуват.`\n  } }];\n}\n\n// Return transactions with metadata\nreturn toInsert.map((tx, idx) => ({ \n  json: {\n    ...tx,\n    _meta: { insertCount, duplicateCount, isLast: idx === toInsert.length - 1 }\n  }\n}));"
      },
      "id": "filterDuplicates",
      "name": "Filter Duplicates & Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ifHasNew",
      "name": "Has New Transactions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Mvg9vxzp7LyYwNor0i8o8LvqYiF0ID4WD3Af58zkVTo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "BankTransactions",
          "mode": "list",
          "cachedResultName": "BankTransactions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "reference": "={{ $json.reference }}",
            "date": "={{ $json.date }}",
            "type": "={{ $json.type }}",
            "amount": "={{ $json.amount }}",
            "currency": "={{ $json.currency }}",
            "category": "={{ $json.category }}",
            "description": "={{ $json.description }}",
            "displayName": "={{ $json.displayName }}",
            "counterpartyName": "={{ $json.counterpartyName }}",
            "invoiceRef": "={{ $json.invoiceRef }}",
            "purpose": "={{ $json.purpose }}",
            "objectId": "={{ $json.objectId }}",
            "objectName": "={{ $json.objectName }}",
            "isCompanyExpense": "={{ $json.isCompanyExpense }}",
            "status": "={{ $json.status }}",
            "importDate": "={{ $json.importDate }}"
          }
        },
        "options": {}
      },
      "id": "appendRows",
      "name": "Append to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1050, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the last item which has the counts\nconst items = $input.all();\nconst lastItem = items[items.length - 1];\nconst meta = lastItem.json._meta || { insertCount: items.length, duplicateCount: 0 };\n\nreturn [{\n  json: {\n    success: true,\n    message: `Записани ${meta.insertCount} транзакции. Пропуснати ${meta.duplicateCount} дубликати.`,\n    insertedCount: meta.insertCount,\n    duplicateCount: meta.duplicateCount\n  }\n}];"
      },
      "id": "successResponse",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Get Existing Transactions", "type": "main", "index": 0 }]
      ]
    },
    "Get Existing Transactions": {
      "main": [
        [{ "node": "Filter Duplicates & Prepare", "type": "main", "index": 0 }]
      ]
    },
    "Filter Duplicates & Prepare": {
      "main": [
        [{ "node": "Has New Transactions?", "type": "main", "index": 0 }]
      ]
    },
    "Has New Transactions?": {
      "main": [
        [{ "node": "Append to Sheet", "type": "main", "index": 0 }],
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    },
    "Append to Sheet": {
      "main": [
        [{ "node": "Success Response", "type": "main", "index": 0 }]
      ]
    },
    "Success Response": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
