n8n-workflows/19-update-bank-transaction.json
{
  "name": "BARIN-ALP: Update Bank Transaction",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "barin-alp/bank-transactions/:id",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "barin-alp-bank-transaction-update"
    },
    {
      "parameters": {
        "jsCode": "const params = $input.item.json.params;\nconst body = $input.item.json.body;\n\nconst transactionId = params.id;\nconst objectId = body.objectId;\nconst objectName = body.objectName || '';\nconst status = body.status || 'matched';\n\nconsole.log('Input params:', params);\nconsole.log('Input body:', body);\n\nif (!transactionId) {\n  throw new Error('Transaction ID is required');\n}\n\nreturn [{ \n  json: { \n    id: parseInt(transactionId),\n    objectId: objectId !== null && objectId !== undefined ? String(objectId) : '',\n    objectName: objectName,\n    status: status\n  } \n}];"
      },
      "id": "prepare",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Mvg9vxzp7LyYwNor0i8o8LvqYiF0ID4WD3Af58zkVTo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "BankTransactions",
          "mode": "list",
          "cachedResultName": "BankTransactions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "objectId": "={{ $json.objectId }}",
            "objectName": "={{ $json.objectName }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": ["id"],
          "schema": [
            {"id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "objectId", "displayName": "objectId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "objectName", "displayName": "objectName", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "status", "displayName": "status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false}
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "updateSheet",
      "name": "Update Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [650, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $('Prepare Data').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    message: 'Транзакция обновена успешно',\n    transactionId: input.id,\n    objectId: input.objectId,\n    objectName: input.objectName,\n    status: input.status\n  }\n}];"
      },
      "id": "response",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Prepare Data", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Data": {
      "main": [
        [{ "node": "Update Sheet", "type": "main", "index": 0 }]
      ]
    },
    "Update Sheet": {
      "main": [
        [{ "node": "Success Response", "type": "main", "index": 0 }]
      ]
    },
    "Success Response": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
