n8n-workflows/21-update-invoice.json
{
  "name": "BARIN-ALP: Update Invoice",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "barin-alp/invoices/update",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "barin-alp-invoice-update"
    },
    {
      "parameters": {
        "jsCode": "// Get invoice data from body\nconst body = $input.item.json.body;\n\nconst invoiceId = parseInt(body.id);\nif (!invoiceId) {\n  return [{ json: { success: false, error: 'Invoice ID is required' } }];\n}\n\n// Prepare items as JSON string\nlet itemsJson = '';\nif (body.items && Array.isArray(body.items)) {\n  itemsJson = JSON.stringify(body.items);\n}\n\nreturn [{ \n  json: { \n    id: invoiceId,\n    date: body.date || '',\n    supplier: body.supplier || '',\n    invoiceNumber: body.invoiceNumber || '',\n    total: body.total || 0,\n    description: body.description || '',\n    createdBy: body.createdBy || '',\n    createdByName: body.createdByName || '',\n    objectId: body.objectId !== null && body.objectId !== undefined ? String(body.objectId) : '',\n    objectName: body.objectName || '',\n    items: itemsJson\n  } \n}];"
      },
      "id": "prepare",
      "name": "Prepare Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Mvg9vxzp7LyYwNor0i8o8LvqYiF0ID4WD3Af58zkVTo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Invoices",
          "mode": "list",
          "cachedResultName": "Invoices"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "date": "={{ $json.date }}",
            "supplier": "={{ $json.supplier }}",
            "invoiceNumber": "={{ $json.invoiceNumber }}",
            "total": "={{ $json.total }}",
            "description": "={{ $json.description }}",
            "createdBy": "={{ $json.createdBy }}",
            "createdByName": "={{ $json.createdByName }}",
            "objectId": "={{ $json.objectId }}",
            "objectName": "={{ $json.objectName }}",
            "items": "={{ $json.items }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        },
        "matchingColumns": ["id"]
      },
      "id": "updateRow",
      "name": "Update Invoice",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [650, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $('Prepare Update').first().json;\n\n// Parse items back\nlet items = [];\ntry {\n  if (input.items) {\n    items = JSON.parse(input.items);\n  }\n} catch (e) {}\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      id: input.id,\n      date: input.date,\n      supplier: input.supplier,\n      invoiceNumber: input.invoiceNumber,\n      total: input.total,\n      description: input.description,\n      createdBy: input.createdBy,\n      createdByName: input.createdByName,\n      objectId: input.objectId ? parseInt(input.objectId) : null,\n      objectName: input.objectName,\n      items: items\n    }\n  }\n}];"
      },
      "id": "successResponse",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Prepare Update", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Update": {
      "main": [
        [{ "node": "Update Invoice", "type": "main", "index": 0 }]
      ]
    },
    "Update Invoice": {
      "main": [
        [{ "node": "Success Response", "type": "main", "index": 0 }]
      ]
    },
    "Success Response": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
