n8n-workflows/23-update-transaction.json
{
  "name": "BARIN-ALP: Update Transaction",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "barin-alp/transactions/update",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-update-transaction",
      "name": "Webhook Update",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "barin-transactions-update"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\n\nreturn [{\n  json: {\n    id: parseInt(body.id),\n    type: String(body.type),\n    userId: parseInt(body.userId) || 0,\n    userName: String(body.userName || ''),\n    amount: parseFloat(body.amount) || 0,\n    date: String(body.date),\n    description: String(body.description || ''),\n    createdBy: parseInt(body.createdBy) || 0,\n    createdByName: String(body.createdByName || ''),\n    method: String(body.method || 'cash'),\n    objectId: parseInt(body.objectId) || 0,\n    objectName: String(body.objectName || '')\n  }\n}];"
      },
      "id": "code-format-input",
      "name": "Format Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Mvg9vxzp7LyYwNor0i8o8LvqYiF0ID4WD3Af58zkVTo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "TRANSACTIONS",
          "mode": "list",
          "cachedResultName": "TRANSACTIONS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "type": "={{ $json.type }}",
            "userId": "={{ $json.userId }}",
            "userName": "={{ $json.userName }}",
            "amount": "={{ $json.amount }}",
            "date": "={{ $json.date }}",
            "description": "={{ $json.description }}",
            "createdBy": "={{ $json.createdBy }}",
            "createdByName": "={{ $json.createdByName }}",
            "method": "={{ $json.method }}",
            "objectId": "={{ $json.objectId }}",
            "objectName": "={{ $json.objectName }}"
          },
          "matchingColumns": ["id"]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "sheets-update-transaction",
      "name": "Update Sheet Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [690, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $('Format Input').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    data: input\n  }\n}];"
      },
      "id": "code-format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-update",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "Webhook Update": {
      "main": [
        [
          {
            "node": "Format Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Input": {
      "main": [
        [
          {
            "node": "Update Sheet Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet Row": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
